<div id="filters" >
     
    <div class="filter">
      <a href="/listings/category/Trending"><div ><i class="fa-solid fa-fire "></i></div>
        <p>Trending</p></a>
      
    </div>
    <div class="filter">
      <a href="/listings/category/Beach"> <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beach</p></a>
     
    </div>
    <div class="filter">
      <a href="/listings/category/Forest"> <div><i class="fa-solid fa-tree"></i></div>
        <p>Forest</p></a>
     
    </div>
    <div class="filter">
      <a href="/listings/category/Mountain"><div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p></a>
    </div>
    <div class="filter">
      <a href="/listings/category/Lake">  <div><i class="fa-solid fa-water"></i></div>
        <p>Lake</p></a>
    
    </div>
    <div class="filter">
      <a href="/listings/category/Castles"> <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p></a>
     
    </div>
    <div class="filter">
      <a href="/listings/category/City"><div><i class="fa-solid fa-city"></i></div>
        <p>City</p></a>
      
    </div>

    <div class="tax-toggle">
      <div class="form-check-reverse form-switch ">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
      </div>
      
    </div>
   
  </div>
  
  <hr class="mt-0 mb-1 category-line"> 