<% layout("layouts/boilerplate.ejs") %>
  
<link rel="stylesheet" href="/css/category.css">
<link rel="stylesheet" href="/mediaqueryCss/index.css">
 <body style="background-color:#FCFCFC;">

    <div class="row mrow mt-2" >
      <% for(let listing of allListings){%>
        <% if(country==listing.country){%>
        <div class="card listing-card   mb-2 all-card " >
          <a href="/listings/<%=listing._id %>" class="listing-link">
            <img src="<%=listing.image.url %>" class="card-img-top "  alt="..." style="height: 15rem;">
            <div class="card-body " style="padding-top: 0.3rem; ">
              <p class="card-text ">
                <span >
                  <%=listing.title %>
                </span>
                <br>
                &#x20b9; <%= listing.price.toLocaleString("en-IN") %>/night
                  <i class="tax-info"> +18% GST</i>
              </p>



            </div>
          </a>
        </div>
          <% } %>
        <%}%>
    </div>
    <script src="/js/category.js"></script>
  </body>