<% layout("layouts/boilerplate.ejs") %>
<style>
    #filters{
        display: none;
    }
    .category-line{
        display:none;
    }
</style>
    <body>

        <div class="row mrow">
            <div class="alert alert-danger col-8  mb-1" role="alert">
                <h5>
                    <%=message %>
                </h5>
            </div>

        </div>
    </body>