#filters {
    background-color:white;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* justify-content: space-evenly; */
    position: sticky; 
    top:55px;
   z-index: 2; 

  }

  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 0.2rem;
    opacity: 0.8;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .filter p {
    margin-top: 0;
    padding-top: 0;
    font-size: small;
    /* color: aqua; */
    margin-bottom: 2px;
  }
  .filter a{
    text-decoration: none;
    color: black;
  }

  .tax-info {
    display: none;
  }

  .tax-toggle {
    border: 1px solid black;
    margin-bottom: 0.4rem;
    padding-top: 1rem;
    margin-top: 0.3rem;
    padding-bottom: 1rem;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
  }

  @media (max-width:990px) {
    #filters{
      gap:0.5rem;
    }
  }
  @media (max-width:820px) {
    .filter{
      margin-right: 1.5rem;
    }
  }
  @media (max-width:750px) {
    #filters{
      gap:0.3rem;
    }
  }
  @media (max-width:722px) {
    .filter{
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  @media (max-width:596px) {
    .filter{
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media (max-width:484px) {
#filters{
  gap: 0;

}
.tax-toggle {

  padding: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.tax-toggle .form-check-label{
  font-size: 13px;
  padding-bottom: 2px;
}
  }