<% layout("/layouts/boilerplate") %>
<style>
    #filters{
        display: none;
    }
    .category-line{
        display:none;
    }
</style>
<link rel="stylesheet" href="/mediaqueryCss/login.css">
<body>
    

    <div class="row mrow mt-1 login" style="gap: 0.5rem;">
        <h2 class="col-6  mb-0 para">Login to Wanderlust</h2>
        <div class=" col-6 user ">
            <form action="/login" method="post" class="needs-validation form" novalidate>
                <div class="mb-3 user">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" type="text" class="form-control " rows="2" id="username" cols="30"
                        placeholder="enter username" rows="5" required />
                    <div class="valid-feedback">looks good!</div>
                    <div class="invalid-feedback">Please Enter Username</div>
                </div>

                <div class="mb-3 pas">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" rows="2" id="password" cols="30"
                        placeholder="enter password" rows="5" required />
                    <div class="valid-feedback">looks good!</div>
                    <div class="invalid-feedback">Please Enter Password</div>
                </div>
                <button class="btn btn-success">LogIn</button>
            </form>
        </div>
    </div>
</body>